@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600&display=swap');

*{box-sizing: border-box;}

/* body */
body {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 16px;
    color: #333;
}
/* container */
.container {
    width: 800px;
    margin: 40px auto;
}

.text-center {
    text-align: center;
}

/* tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background: #f1f1f1;
}
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 400;
    float: left;            /* button 한칸 띄움 삭제 */
    transition: 300ms;
}
.tab button:hover {
    background: #ccc;
}
.tab button.active {
    background: #ccc;
    font-weight: 600;
}

/* tabcontent */
.tabcontent {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}