*{box-sizing: border-box;}

body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: #333;
}
a, a:link {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
    color: #666;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
header {
    height: 100px;
    background-color: #3cb149;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: relative;
}
.logo {
    display: block;
    width: 200px;
    height: 40px;
    font-size: 35px;
    font-weight: bold;
    background-color: #1d8844;
    text-align: center;
    line-height: 40px;
}

.main-nav {
    width: 650px;
    display: flex;
}

.main-nav > li {
    width: 25%;
    text-align: center;
}
.main-nav > li > a {
    display: block;
    line-height: 40px;
    font-size: 18px;
    background-color: #1d8844;
    color: #ddd;
}

.main-nav > li:hover > a {
    background-color: #434748;
    color: #fff;
}
.main-nav > li:hover .sub-nav {
    display: block;
}
.sub-nav {
    background-color: #434748;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    width: 100%;
    top: 70;
    left: 0;
    display: none;


    
}
.sub-nav a {
    color: #ddd;
    font-size: 18px;
}
