header 
    link(rel="stylesheet", href="/stylesheets/style.css")
    img(src='../pug/1.png', alt="logo")
    h1 Wodify
    
    
    a(href="/") HOME 
    a(href="/about") BUSINESS 
    a(href="/about") TRABEL 
    a(href="/about") CATEGORIES 
    a(href="/about") ABOUT 
    a(href="/about") CONTACT 